body{
    background-color: paleturquoise;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
h3{
background-color: gainsboro
}
p{
    background-color: lightsteelblue
}
img {
    width: 200px 
}

TODO: SET DIVS INSIDE THE COLUMNS IN ORDER TO MAKE PANEL HEADERS WORK.
ALSO BE SURE TO RESET TEMPLATE WITH ${}
AND RESPECTIVELY CHANGE TEMPLATE TO MATCH INDEX.HTML